.git/
coverage/
packages/normalize-typography/README.md
reports/
.prettierignore
package-lock.json
pnpm-lock.yaml
yarn.lock
*.bin
*.exe
*.gif
*.gz
*.htm
*.html
*.jar
*.jpeg
*.jpg
*.keystore
*.min.js
*.obj
*.pdf
*.png
*.tar
*.webp
*.zip
