.git/
build/
**/build/**
coverage/
dist/
node_modules/
reports/
**/*.gradle
.prettierignore
pre-commit
package-lock.json
pnpm-lock.yaml
yarn.lock
*.bin
*.exe
*.gif
*.gz
*.htm
*.html
*.jar
*.jpeg
*.jpg
*.keystore
*.min.js
*.obj
*.pdf
*.png
*.tar
*.webp
*.zip
